<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="icon" href="/assets/img/logo.jpg" type="image/x-icon">
    {% seo %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        
    </header> 

<main class="content">
	{{ content }}
</main>

    <script src="/assets/js/mode.js"></script>

  
<footer>        
        <a class="linkhai" href="/whaticando">What Can I Do</a>
        <a class="linkhai" href="/readme">Readme</a>
        <p style="font-size: 15px;">©<script>document.write(new Date().getFullYear())</script></p> <p style="font-size: 10px;">Made By <a class="linkhai" href="https://www.linkedin.com/in/amarisdeep">Amardeep</a> </p>
</footer>
</html>
